.image-upload-container {
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .custom-file-upload {
    margin-top: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
    background-color: lightgray;
  }

  .custom-file-upload p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
    
  .upload-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .upload-button:hover {
    background-color: #007bb5;
  }
  
  .image-preview-container {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .image-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-preview-container:hover .image-hover-overlay {
    opacity: 1;
  }
  
  .overlay-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .overlay-button:hover {
    background-color: #d32f2f;
  }
