.lates-product-wrapper {
    text-align: center;
    background-color: #C5FF95;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05), 2px 2px 5px rgba(0, 0, 0, .1);
    border-radius: 35px 35px 35px 35px;
}
.home-photo {
    height: 200px;
    width: 200px; 
}
.home-title{
    padding-top: 10px;
    padding-bottom: 10px;
}
.card {
    margin-top: 10px;
    border-color: #C5FF95 !important;
}
.home-details-btn{
    background-color: #C5FF95 !important;
    border-color: #C5FF95 !important;
    color: black !important;
}
.home-price-btn{
    margin-left: 10px;
    background-color: #C5FF95 !important;
    border-color: #C5FF95 !important;
    color: black !important;
}