.ring-size-wrapper {
    text-align: center;
    margin-right: 200px;
}

.add-new-size {
    color: burlywood !important;
    margin-bottom: 15px;
}

.list-group {
    width: 50%;
    margin: auto;
    text-align: left;
}

.list-group-item {
    padding-left: 30px !important;
}

.list-group-item:nth-child(even) {
    background-color: whitesmoke;
}

.ring-size-delete-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.ring-size-edit-btn {
    position: absolute;
    color: purple !important;
    bottom: 0;
    right: 0;
    margin-right: 55px;
}

.pagination-wrapper {
    margin-top: 25px;
}