.details-btn {
    color: black !important;
    background-color: #C5FF95 !important;
    border-color: #C5FF95 !important;
}

.details-btn:hover {
    color: white !important;
    background-color: yellowgreen !important;
    border-color: yellow !important;
}