#sidebar-wrapper {
  background-color: #C5FF95;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
  border-radius: 0px 25px 25px 0px;
  height: 100vh;
  padding: 0;
}

#page-content-wrapper {
  padding: 20px;
  height:  100vh;
  min-height: calc(100vh - 100px);
  overflow-y: auto;
}